Repository chitoku-k/fzf-zsh-completions, pull requests merged in 2020-10, with the labels that each got.

#84 Don't show the prefix with options in the completions list
  src/completers/git.zsh
  tests/git.zunit
Labels: command:git, enhancement

#85 Support `git push **`
  README.md
  src/completers/git.zsh
  tests/git.zunit
Labels: command:git, enhancement

#86 Improve `git cherry-pick **`
  src/completers/git.zsh
  tests/git.zunit
Labels: command:git, enhancement

#87 Support `git fetch **`
  src/completers/git.zsh
  tests/git.zunit
Labels: command:git, enhancement

#90 Fix regexp for git remotes group
  src/completers/git.zsh
  tests/git.zunit
Labels: bug, command:git

#91 Update documentation
  README.md
Labels: documentation

#92 Support initContainers in container completions for kubectl
  src/completers/kubectl.zsh
  tests/kubectl.zunit
Labels: command:kubectl
