Repository chitoku-k/fzf-zsh-completions, pull requests merged in 2020-12, with the labels that each got.

#100 Close #98: Fix completions for kubectl create
  src/completers/kubectl.zsh
  tests/kubectl.zunit
Labels: bug, command:kubectl

#99 Support `yarn workspace **`
  README.md
  src/completers/yarn.zsh
  tests/_support/yarn/workspace/examples/a/package.json
  tests/_support/yarn/workspace/package.json
  tests/_support/yarn/workspace/packages/a/package.json
  tests/_support/yarn/workspace/packages/b/package.json
  tests/yarn.zunit
Labels: command:yarn, enhancement

#97 Support `git show **`
  README.md
  src/completers/git.zsh
  src/core/parser.zsh
  tests/_support/git/_git/config
  tests/_support/git/_git/index
  tests/git.zunit
Labels: command:git, enhancement
