Repository chitoku-k/fzf-zsh-completions, pull requests merged in 2020-04, with the labels that each got.

#77 Add `git restore -s` completion
  src/completers/git.zsh
  tests/git.zunit
Labels: command:git

#78 Support `docker inspect **`
  src/completers/docker.zsh
  tests/docker.zunit
Labels: command:docker

#80 Update documentation
  README.md
Labels: documentation
