Repository chitoku-k/fzf-zsh-completions, pull requests merged in 2020-02, with the labels that each got.

#35 Add †Makefile† support
  src/make.zsh
  tests/_support/make/Makefile
  tests/make.zunit
Labels: command:make

#44 Use raw git objects for git testing
  tests/_support/git/_git/HEAD
  tests/_support/git/_git/config
  tests/_support/git/_git/index
  tests/_support/git/_git/info/exclude
  tests/_support/git/_git/objects/1b/27dd8479b107f48a9a60597fe38f0180a537e9
  tests/_support/git/_git/objects/3a/c65214ea8cc8ff031eea290e0aff0ba365e6f2
  tests/_support/git/_git/objects/3e/209a3fc9bfde3e60ea2f5c1d187578c03984ab
  tests/_support/git/_git/objects/5a/1f285cb2411466a32a10cf09ab6c958f0e5db5
  tests/_support/git/_git/objects/60/88ecf23c22727cb02dee4153a63ffad3083ead
  tests/_support/git/_git/objects/6c/493ff740f9380390d5c9ddef4af18697ac9375
  tests/_support/git/_git/objects/73/76e29d1a28627d7d9813efed30f53ba270569f
  tests/_support/git/_git/objects/b7/58e8668c88f43a878871a27c57463a95fe31a2
  tests/_support/git/_git/objects/c6/913c4908c51a1db1207fd12f2d2c2e3306e27e
  tests/_support/git/_git/objects/e2/129701f1a4d54dc44f03c93bca0a2aec7c5449
  tests/_support/git/_git/refs/heads/another-branch
  tests/_support/git/_git/refs/heads/master
  tests/_support/git/_git/refs/tags/v1
  tests/_support/git/_git/refs/tags/v2
  tests/_support/git/directory1/file2
  tests/_support/git/file1
  tests/git.zunit
Labels: command:git

#48 Add completion for `git rm`
  README.md
  src/git.zsh
  tests/git.zunit
Labels: command:git

#49 Add completions for `git restore`
  README.md
  src/git.zsh
  tests/git.zunit
Labels: command:git

#50 Add completion for `git switch`
  README.md
  src/git.zsh
  tests/git.zunit
Labels: command:git

#52 Update tests to use literal instead of variables
  tests/git.zunit
Labels: command:git

#53 Migrate tput to zsh colors
  src/git.zsh
  src/systemctl.zsh
  tests/git.zunit
Labels: command:git, command:systemctl

#28 Add completions for `git pull`
  README.md
  src/git.zsh
  tests/git.zunit
Labels: command:git
