Repository chitoku-k/fzf-zsh-completions, pull requests merged in 2020-03, with the labels that each got.

#63 Fix a bug where Makefile doesn't exist
  src/completers/make.zsh
  tests/make.zunit
Labels: bug

#64 Add the completions using `docker container list`
  README.md
  src/completers/docker.zsh
  tests/docker.zunit
Labels: command:docker

#65 Support `docker tag **`
  README.md
  src/completers/docker.zsh
  tests/docker.zunit
Labels: command:docker

#66 Support `docker cp **`
  README.md
  src/completers/docker.zsh
  tests/docker.zunit
Labels: command:docker

#67 Support `docker push **`
  src/completers/docker.zsh
  tests/docker.zunit
Labels: command:docker

#71 Update documentation
  README.md
Labels: documentation
