Repository chitoku-k/fzf-zsh-completions, pull requests merged in 2021-06, with the labels that each got.

#136 Support --user and inactive units
  src/completers/systemctl.zsh
  tests/_helpers/assertions.zsh
  tests/_helpers/mock.zsh
  tests/systemctl.zunit
Labels: bug, command:systemctl

#144 Complete Kubernetes API resources suffixed with API group
  src/completers/kubectl.zsh
  tests/kubectl.zunit
Labels: command:kubectl

#143 Fix a bug when alias name and its first value overlap
  src/completers/systemctl.zsh
  src/core/aliases.zsh
  tests/systemctl.zunit
Labels: bug
