Repository chitoku-k/fzf-zsh-completions, pull requests merged in 2021-08, with the labels that each got.

#168 Fix an issue where unmock opened non-existing file
  tests/_helpers/mock.zsh
Labels: bug, testing

#169 Support git stash
  src/completers/git.zsh
  src/core/parser.zsh
  tests/_support/git/_git/index
  tests/_support/git/_git/logs/refs/stash
  tests/_support/git/_git/objects/01/4f64d1b6e6e943207101c81518c67dd0b25aa8
  tests/_support/git/_git/objects/04/819189e41e68b2c5fc8613e606bc8739f67188
  tests/_support/git/_git/objects/0d/64b6aa632d469cbdae3a5263e94b23386bf7c9
  tests/_support/git/_git/objects/1c/d872d7aebdb0c638998e7bf092cfd21ae43edd
  tests/_support/git/_git/objects/37/2dd0b87fac561e3bf304cf3344a93e4fa11231
  tests/_support/git/_git/objects/4c/8f0445c583e154df34b8154e65236f42a981f6
  tests/_support/git/_git/objects/5c/595a5f92f6dbbe11a46840f2d60b4050f040e2
  tests/_support/git/_git/objects/5f/1f595b8be458973f505cffd9a93d8f895b038e
  tests/_support/git/_git/objects/6e/ed67cdd7fd33e479c5653b535404f2bd6ffc2a
  tests/_support/git/_git/objects/81/6f48dc4e2da88eff2eda329609943cf441c4b2
  tests/_support/git/_git/objects/8b/04b5c6c8a066fff2729edd1dbc343efec0f4c0
  tests/_support/git/_git/objects/8b/137891791fe96927ad78e64b0aad7bded08bdc
  tests/_support/git/_git/objects/b5/f2591289a1e29b365adaa0c17baee67eae4380
  tests/_support/git/_git/objects/bb/72e128dd014b0860ad702bda6e8de460a1bc82
  tests/_support/git/_git/objects/bd/a0724b89072aa59f9ccde863380a931ade215c
  tests/_support/git/_git/objects/fd/fc1c3c17a09ba20e1ca2e2f68dfad54e4fc3f7
  tests/_support/git/_git/refs/stash
  tests/git.zunit
Labels: command:git, enhancement

#170 Don't show commit hashes in `git stash **`
  src/completers/git.zsh
  tests/git.zunit
Labels: command:git

#173 Complete network policies in cf remove-network-policy
  src/completers/cf.zsh
  tests/cf.zunit
Labels: enhancement, command:cf

#175 Add support for Vault CLI
  README.md
  src/completers/vault.zsh
  src/core/parser.zsh
  tests/vault.zunit
Labels: enhancement, command:vault

#176 Fix a bug in vault completion where path ending with slash not passed to vault kv get
  src/completers/vault.zsh
  tests/vault.zunit
Labels: bug, command:vault

#178 Refactor git completion
  src/completers/git.zsh
Labels: command:git

#180 Complete filenames conditionally for cf update-user-provided-service SERVICE_INSTANCE -p **
  src/completers/cf.zsh
  tests/cf.zunit
Labels: enhancement, command:cf

#184 Enable --multi in systemctl **<TAB>
  src/completers/systemctl.zsh
  tests/systemctl.zunit
Labels: command:systemctl

#189 Fix a bug where errors in kubectl api-resources broke screen
  src/completers/kubectl.zsh
Labels: bug, command:kubectl

#190 Extend timouts on CI depending on runners
  .github/workflows/ci.yml
Labels: testing

#181 Support completions for spaces based on current context
  src/completers/cf.zsh
  tests/cf.zunit
Labels: enhancement, command:cf

#191 Complete resource types in kubectl logs **
  src/completers/kubectl.zsh
  tests/kubectl.zunit
Labels: command:kubectl

#192 Add support for cf (delete-service-key|service-key)
  src/completers/cf.zsh
  tests/cf.zunit
Labels: command:cf

#193 Complete org and space in cf remove-network-policy
  src/completers/cf.zsh
  tests/cf.zunit
Labels: command:cf

#194 Add support for contexts commands/options in kubectl
  src/completers/kubectl.zsh
  tests/kubectl.zunit
Labels: enhancement, command:kubectl

#195 Fix --timeout not working in CI
  .github/workflows/ci.yml
  src/completers/kubectl.zsh
Labels: bug, testing

#196 Add completions for all fields in kubectl explain **
  src/completers/kubectl.zsh
  tests/kubectl.zunit
Labels: enhancement, command:kubectl

#197 Complete Kubernetes resources from API versions
  src/completers/kubectl.zsh
  tests/kubectl.zunit
Labels: command:kubectl
