Repository chitoku-k/fzf-zsh-completions, pull requests merged in 2021-07, with the labels that each got.

#146 Fix an issue where the empty string in a command is ignored
  src/completers/composer.zsh
  src/completers/docker.zsh
  src/completers/gh.zsh
  src/completers/git.zsh
  src/completers/kubectl.zsh
  src/completers/npm.zsh
  src/completers/sudo.zsh
  src/completers/yarn.zsh
  src/core/parser.zsh
  tests/composer.zunit
  tests/docker.zunit
  tests/gh.zunit
  tests/git.zunit
  tests/kubectl.zunit
  tests/npm.zunit
  tests/sudo.zunit
  tests/yarn.zunit
Labels: bug

#150 Fix some of issues related to the mock
  tests/_helpers/assertions.zsh
  tests/_helpers/mock.zsh
  tests/_support/mock/.gitkeep
Labels: bug

#151 Fix the bug where a error isn't shown when unmock
  tests/_helpers/mock.zsh
Labels: bug, testing

#152 Fix an empty namespace causing parse failure in kubectl
  src/completers/kubectl.zsh
  tests/kubectl.zunit
Labels: bug, command:kubectl

#156 Show runtime version before testing
  .github/workflows/ci.yml
Labels: testing

#157 Add support for kubectl get --field-selector=**
  README.md
  src/completers/kubectl.zsh
  tests/kubectl.zunit
Labels: command:kubectl, enhancement

#159 Fix a bug where field selector could not be completed when key is input
  src/completers/kubectl.zsh
  tests/kubectl.zunit
Labels: bug, command:kubectl

#160 Determine options based on subcommand and determine subcommand based on known global options in kubectl
  src/completers/docker.zsh
  src/completers/env.zsh
  src/completers/git.zsh
  src/completers/kubectl.zsh
  src/completers/systemctl.zsh
  src/completers/yarn.zsh
  src/core/parser.zsh
  tests/kubectl.zunit
Labels: bug, command:kubectl

#161 Support completion for comma-separated resource in kubectl
  src/completers/kubectl.zsh
  tests/kubectl.zunit
Labels: command:kubectl, enhancement

#162 Add completions for cf CLI
  README.md
  src/completers/cf.zsh
  tests/_support/cf/.cf/config.json
  tests/cf.zunit
Labels: command:cf

#165 Complete pluggable subcommands from user-defined functions
  README.md
  src/completers/cf.zsh
  src/completers/composer.zsh
  src/completers/docker.zsh
  src/completers/gh.zsh
  src/completers/git.zsh
  src/completers/kubectl.zsh
  src/completers/npm.zsh
  src/completers/systemctl.zsh
  src/completers/yarn.zsh
  tests/cf.zunit
  tests/composer.zunit
  tests/docker.zunit
  tests/gh.zunit
  tests/git.zunit
  tests/kubectl.zunit
  tests/npm.zunit
  tests/systemctl.zunit
  tests/yarn.zunit
Labels: command:cf, command:composer, command:docker, command:gh, command:git, command:kubectl, command:npm, command:systemctl, command:yarn, enhancement

#166 Inherit --field-selector options in kubectl completions
  src/completers/kubectl.zsh
Labels: command:kubectl
