Repository chitoku-k/fzf-zsh-completions, pull requests merged in 2021-05, with the labels that each got.

#113 Support labels in kubectl
  README.md
  src/completers/kubectl.zsh
  src/core/formatter.zsh
  src/core/parser.zsh
  tests/kubectl.zunit
Labels: command:kubectl, enhancement

#115 Fix prefixes in kubectl get pods (-l|--selector|-L|--label-columns)
  src/completers/kubectl.zsh
  tests/kubectl.zunit
Labels: bug, command:kubectl, enhancement

#120 Migrate to mock helpers
  tests/_helpers/assertions.zsh
  tests/_helpers/mock.zsh
  tests/docker.zunit
  tests/gh.zunit
  tests/kubectl.zunit
  tests/make.zunit
  tests/systemctl.zunit
Labels: enhancement

#116 Show remote branches and tags for completion of git-refs
  src/completers/git.zsh
  tests/_support/remote.git/HEAD
  tests/_support/remote.git/config
  tests/_support/remote.git/index
  tests/_support/remote.git/info/exclude
  tests/_support/remote.git/objects/08/c69effb16317b4a980288c79eba8cac3b223da
  tests/_support/remote.git/objects/30/62b3a33bc7fdf0e08ca7e9e01e5079ea74351b
  tests/_support/remote.git/objects/4b/825dc642cb6eb9a060e54bf8d69288fbee4904
  tests/_support/remote.git/objects/91/9adf8dfaea6e578c6913e71abb63f91713d0da
  tests/_support/remote.git/refs/heads/another-branch
  tests/_support/remote.git/refs/heads/master
  tests/_support/remote.git/refs/tags/v1
  tests/_support/remote.git/refs/tags/v2
  tests/git.zunit
Labels: command:git

#122 Fix git-refs_post
  src/completers/git.zsh
  tests/git.zunit
Labels: bug, command:git

#123 Fix issue where tags that are suffixed `^{}` is shown
  src/completers/git.zsh
  tests/_support/remote.git/objects/b8/63ab95d097069c0a029f30713c54eb4b9ec56a
  tests/_support/remote.git/refs/tags/annotated
  tests/git.zunit
Labels: bug, command:git

#125 Fix an issue where an option next to a cursor was passed as an option argument to kubectl get
  src/completers/kubectl.zsh
  tests/kubectl.zunit
Labels: bug, command:kubectl

#126 Refactor parsing `--type` option of `docker inspect`
  src/completers/docker.zsh
Labels: command:docker

#127 Fix a bug where stacked short option did not consider the other options that require an argument
  src/completers/docker.zsh
  src/completers/kubectl.zsh
  src/core/parser.zsh
Labels: bug

#128 Fix completions for Kubernetes namespaces not to be affected by --selector options
  src/completers/kubectl.zsh
  tests/kubectl.zunit
Labels: command:kubectl

#130 Improve `git reset **`
  src/completers/git.zsh
  src/core/parser.zsh
  tests/git.zunit
Labels: command:git, enhancement
